div.map-grid {
    margin: 0px auto;
}

div.item-overlay {
    z-index: 15;
}

div.cell-overlay {
    z-index: 20;
    div.cell {
        position: absolute;
    }
}

div.subcell-overlay {
    z-index: 25;
    div.subcell {
        position: absolute;
    }
}

div.viewer-overlay {
    z-index: 50;
}

div.loader-overlay {
    z-index: 100;
    background: rgba(0,0,0,0.75) url(#{$static_base}/img/waiting.gif) no-repeat scroll center center;
}

div.grid-numbers {
    height: 25px;
    margin-left: 25px;
    border-bottom: #666 1px solid;
    div.grid.number {
        float: left;
        text-align: center;
        display: block;
    }
}

div.grid-letters {
    width: 25px;
    float: left;
    border-right: #666 1px solid;
    div.grid.letter {
        text-align: center;
        display: block;
        padding-top: 30px;
    }
}

@mixin mapimage($map) {
    background: transparent url(#{$image_base}/maps/768//#{$map}) no-repeat scroll center center;
}


div.map {
    float: left;
    div.grid.line {
        position: absolute;
        width: 1px;
        background: #666 none repeat scroll 0 0;
        z-index: 10;
        &.vertical {
            top: 0px;
            width: 1px;
        }
        &.horizontal {
            left: 0px;
            height: 1px;
        }
    }
    @each $mapident in 00_tank_tutorial 01_karelia 02_malinovka 03_campania 04_himmelsdorf 05_prohorovka 06_ensk 07_lakeville 08_ruinberg 10_hills 11_murovanka 13_erlenberg 14_siegfried_line 15_komarin 17_munchen 18_cliff 19_monastery 22_slough 23_westfeld 28_desert 29_el_hallouf 31_airfield 33_fjord 34_redshire 35_steppes 36_fishing_bay 37_caucasus 38_mannerheim_line 39_crimea 42_north_america 43_north_america 44_north_america 45_north_america 47_canada_a 51_asia 53_japan 59_asia_great_wall 60_asia_miao 63_tundra 73_asia_korea 83_kharkiv 84_winter 85_winter 86_himmelsdorf_winter 87_ruinberg_on_fire 96_prohorovka_defense 99_himmelball {
        &.map_#{$mapident} {
            @include mapimage($mapident);
        }
    }
}
