$corner_radius: 4px;

%rounded-tr {
    -moz-border-top-right-radius: $corner_radius;
    -webkit-border-top-right-radius: $corner_radius;
    border-top-right-radius: $corner_radius;
}

%rounded-tl {
    -moz-border-top-left-radius: $corner_radius;
    -webkit-border-top-left-radius: $corner_radius;
    border-top-left-radius: $corner_radius;
}

%rounded-br {
    -moz-border-bottom-right-radius: $corner_radius;
    -webkit-border-bottom-right-radius: $corner_radius;
    border-bottom-right-radius: $corner_radius;
}

%rounded-bl {
    -moz-border-bottom-left-radius: $corner_radius;
    -webkit-border-bottom-left-radius: $corner_radius;
    border-bottom-left-radius: $corner_radius;
}

%rounded-bottom {
    @extend %rounded-br;
    @extend %rounded-bl;
}

%rounded-top {
    @extend %rounded-tr;
    @extend %rounded-tl;
}

%rounded-left {
    @extend %rounded-tl;
    @extend %rounded-bl;
}

%rounded-right {
    @extend %rounded-tr;
    @extend %rounded-br;
}

%rounded {
    @extend %rounded-tr;
    @extend %rounded-tl;
    @extend %rounded-br;
    @extend %rounded-bl;
}

%not-rounded-tr {
    -moz-border-top-right-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
}

%not-rounded-tl {
    -moz-border-top-left-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
}

%not-rounded-br {
    -moz-border-bottom-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

%not-rounded-bl {
    -moz-border-bottom-left-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

%not-rounded-bottom {
    @extend %not-rounded-br;
    @extend %not-rounded-bl;
}

%not-rounded-top {
    @extend %not-rounded-tr;
    @extend %not-rounded-tl;
}

%not-rounded-left {
    @extend %not-rounded-tl;
    @extend %not-rounded-bl;
}

%not-rounded-right {
    @extend %not-rounded-tr;
    @extend %not-rounded-br;
}

%not-rounded {
    @extend %not-rounded-tr;
    @extend %not-rounded-tl;
    @extend %not-rounded-br;
    @extend %not-rounded-bl;
}
