/* base wn7 colors */
$wn7_verybad: #000000;
$wn7_bad: #5e0000;
$wn7_belowaverage: #cd3333;
$wn7_average: #d7b600;
$wn7_good: #6d9521;
$wn7_verygood: #4c762e;
$wn7_great: #4a92b7;
$wn7_unicum: #83579d;
$wn7_superunicum: #5a3175;

/* this should really be loop-able somehow...*/
span {
    &.wn7 {
        &.verybad { color: $wn7_verybad }
        &.bad { color: $wn7_bad }
        &.belowaverage { color: $wn7_belowaverage }
        &.average { color: $wn7_average }
        &.good { color: $wn7_good }
        &.verygood { color: $wn7_verygood }
        &.great { color: $wn7_great }
        &.unicum { color: $wn7_unicum }
        &.superunicum { color: $wn7_superunicum }
    }
}
div {
    &.wn7 {
        &.verybad { color: lighten($wn7_verybad, 25%); background: $wn7_verybad none repeat scroll 0 0 }
        &.bad { color: lighten($wn7_bad, 25%); background: $wn7_bad none repeat scroll 0 0 }
        &.belowaverage { color: lighten($wn7_belowaverage, 25%); background: $wn7_belowaverage none repeat scroll 0 0 }
        &.average { color: lighten($wn7_average, 25%); background: $wn7_average none repeat scroll 0 0 }
        &.good { color: lighten($wn7_good, 25%); background: $wn7_good none repeat scroll 0 0 }
        &.verygood { color: lighten($wn7_verygood, 25%); background: $wn7_verygood none repeat scroll 0 0 }
        &.great { color: lighten($wn7_great, 25%); background: $wn7_great none repeat scroll 0 0 }
        &.unicum { color: lighten($wn7_unicum, 25%); background: $wn7_unicum none repeat scroll 0 0 }
        &.superunicum { color: lighten($wn7_superunicum, 25%); background: $wn7_superunicum none repeat scroll 0 0 }
        &.notavailable { color: white; background: black }
    }
}
