$image_base: "//images.wotreplays.org";
$static_base: "";
$background_from_theme: #060606;
$text_color_from_theme: #888;
$background_tag: "201403";

$base_green: rgb(0, 255, 0);
$base_red:   rgb(255, 0, 0);

$armor_base_china:      rgb(61, 62, 64);
$armor_base_france:     rgb(15, 36, 36);
$armor_base_germany:    rgb(90, 103, 94);
$armor_base_japan:      rgb(15, 36, 36);
$armor_base_uk:         rgb(82, 72, 51);
$armor_base_usa:        rgb(82, 72, 51);
$armor_base_ussr:       rgb(61, 62, 42);

@import "wn8";
@import "rating";
@import "awards";
@import "rounded";
@import "shadow";
@import "slider";
@import "battleviewer";
@import "map";

body {
    position: relative;
}

div {
    &.row.replay-view {
        h4 { margin: 15px 0px 10px 0px }
    }
    &.heroawardlist {
        min-height: 64px;
    }
    &#desc-show {
        min-height: 64px;
        max-height: 64px;
        overflow-y: auto;
    }
    &.armor {
        &.china { background: $armor_base_china none repeat scroll 0 0 }
        &.france { background: $armor_base_france none repeat scroll 0 0 }
        &.germany { background: $armor_base_germany none repeat scroll 0 0 }
        &.japan { background: $armor_base_japan none repeat scroll 0 0 }
        &.uk { background: $armor_base_uk none repeat scroll 0 0 }
        &.usa { background: $armor_base_usa none repeat scroll 0 0 }
        &.ussr { background: $armor_base_ussr none repeat scroll 0 0 }
    }
    &.shadow {
        @extend %box-shadow;
    }
    &.rounded {
        @extend %rounded;
    }
    &.rounded-tl {
        @extend %rounded-tl;
    }
    &.not-rounded-top {
        @extend %not-rounded-top;
    }
    &.not-rounded-bottom {
        @extend %not-rounded-bottom;
    }
    &.container.content-main {
        background: rgba($background_from_theme,0.95) none repeat scroll 0 0;
        margin: 40px auto;
        padding: 0px;
    }
    #contentMain {
        padding: 0px 15px 0px 15px;
    }
    &.sidebar {
        padding-top: 10px;
    } 
    &.navbar-shadow {
        @extend %box-shadow;
    }
}

div.navbar.not-rounded-bottom {
    @extend %not-rounded-bottom;
}


body {
    background-image:url(#{$static_base}/img/bg-#{$background_tag}.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

.table.team-list .vehicleIcon {
    width: 120px;
}

.table.team-list .iconBar {
    width: 220px;
}

.table.team-list>tbody>tr>td {
    vertical-align: middle;
    height: 58px;
}

.table.team-list .playerName { 
    width: auto;
}
    
td.playerName {
    width: 100px;
}

#processModal .process-log table td {
    vertical-align: middle;
    &.text {
        text-align: left;
        width: 60%;
    }
    &.spinner {
        text-align: center;
        width: 40%;
    }
}

td.playerVehicle {
    text-align: center;
    width: 80px;
    div.playerHealth {
        width: 98%;
        margin: 0px auto;
        height: 10px;
        background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
        position: relative;
        top: 20px;
        div.health {
            background: rgba(0,254, 0, 0.3) none repeat scroll 0 0;
            height: 10px;
        }
        div.healthnumbers {
            color: #fff;
            font-size: 0.6em;
            font-family: monospace;
            text-align: center;
            position: relative;
            top: -10px;
        }
    }
}

td.playerDetails {
    width: 160px;
    span {
        width: 32px;
        height: 32px;
        margin: 4px;
        display: block;
        float: left;
        &.dimmed {
            opacity: 0.3;
        }
        &.hidden {
            visibility: hidden;
        }
        &.kill {
            background: black url(#{$image_base}/misc/kill.png) no-repeat scroll 0 0;
        }
        &.teamkill {
            background: black url(#{$image_base}/misc/teamKill.png) no-repeat scroll 0 0;
        }
        &.damage {
            background: black url(#{$image_base}/misc/damage.png) no-repeat scroll 0 0;
        }
        &.spotted {
            background: black url(#{$image_base}/misc/spotted.png) no-repeat scroll 0 0;
        }
        &.assist {
            background: black url(#{$image_base}/misc/assist.png) no-repeat scroll 0 0;
        }
        &.crits {
            background: black url(#{$image_base}/misc/crits.png) no-repeat scroll 0 0;
        }
        b {
            width: 16px;
            height: 16px;
            border: #444 1px solid;
            display: inline-block;
            text-align: center;
            font-weight: normal;
            font-size: 0.75em;
            color: #fff;
            background: rgba(34,34,34,0.5) none repeat scroll 0 0;
            position: relative;
            top: 15px;
            left: 16px;
        }
    }
}

span {
    &.spinner {
        width: 24px;
        height: 24px;
        display: inline-block;
        background: transparent url(#{$static_base}/img/spinner.gif) no-repeat scroll center center;
        &.small {
            width: 16px;
            height: 16px;
            background: transparent url(#{$static_base}/img/spinner_small.gif) no-repeat scroll center center;
        }
    }
    &.equipment-icon {
        width: 32px;
        height: 32px;
        display: inline-block;
        border: #444 1px solid;
    }
    &.mission-icon {
        width: 32px;
        height: 32px;
        display: inline-block;
        border: #444 1px solid;
        b {
            width: 16px;
            height: 16px;
            border: #444 1px solid;
            display: inline-block;
            text-align: center;
            font-weight: normal;
            font-size: 0.75em;
            color: #fff;
            background: rgba(34,34,34,0.5) none repeat scroll 0 0;
            position: relative;
            top: 15px;
            left: 16px;
        }
    }
    &.equipment-name, &.equipment-desc {
        position: relative; 
        top: -3px;
        padding: 0px 0px 0px 5px;
    }
    &.equipment-desc {
        color: #5a5a5a;
        font-size: 90%;
    }
    &.equipment-name.single, &.equipment-desc.single {
        top: -12px;
    }
    &.clan {
        color: #eee;
    }
    &.green {
        color: darken($base_green, 10%);
    }
    &.red {
        color: darken($base_red, 10%);
    }
}

div.panel-vehicle-wrapper {
    height: 100px;
    width: 180px;
    position: absolute;
    top: 50%;
    border-top: #000 1px solid;
    border-bottom: #000 1px solid;
    background: rgba(0, 0, 0, 0.65) none repeat scroll 0 0;
    margin-top: -50px;
    img {
        width: 160px;
        height: 100px;
        position: relative;
        top: 0px;
        left: 50%;
        margin-left: -80px;
    }
}

.earning-header {
    width: 40%;
}

.earning-value {
    width: 60%;
}

div#progressModal div.progress {
    position: relative;
    top: 8px;
}

.dark {
    color: #666;
}

div.bs-popover div.foo {
    max-width: 175px;
}

ul.section-list li ul li a {
    padding: 2px 15px;
}

.bs-replay-sidebar.affix {
    position: static;
}

.bs-replay-sidebar .nav > li > a {
  display: block;
  font-size: 13px;
  font-weight: 500;
  color: #999;
  padding: 4px 20px;
}
.bs-replay-sidebar .nav > li > a:hover,
.bs-replay-sidebar .nav > li > a:focus {
  padding-left: 19px;
  color: #007196;
  text-decoration: none;
  background-color: transparent;
  border-left: 1px solid #007196;
}
.bs-replay-sidebar .nav > .active > a,
.bs-replay-sidebar .nav > .active:hover > a,
.bs-replay-sidebar .nav > .active:focus > a {
  padding-left: 18px;
  font-weight: bold;
  color: #007196;
  background-color: transparent;
  border-left: 2px solid #007196;
}

/* Nav: second level (shown on .active) */
.bs-replay-sidebar .nav .nav {
  padding-bottom: 10px;
}
.bs-replay-sidebar .nav .nav > li > a {
  padding-top:    1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-size: 12px;
  font-weight: normal;
}
.bs-replay-sidebar .nav .nav > li > a:hover,
.bs-replay-sidebar .nav .nav > li > a:focus {
  padding-left: 29px;
}
.bs-replay-sidebar .nav .nav > .active > a,
.bs-replay-sidebar .nav .nav > .active:hover > a,
.bs-replay-sidebar .nav .nav > .active:focus > a {
  font-weight: 500;
  padding-left: 28px;
}


@media (min-width: 992px) {
  .bs-replay-sidebar .nav > .active > ul {
    display: block;
  }
  /* Widen the fixed sidebar */
  .bs-replay-sidebar.affix,
  .bs-replay-sidebar.affix-bottom {
  }
  .bs-replay-sidebar.affix {
    position: fixed; /* Undo the static from mobile first approach */
  }
  .bs-replay-sidebar.affix-bottom {
    position: absolute; /* Undo the static from mobile first approach */
  }
  .bs-replay-sidebar.affix-bottom .bs-docs-sidenav,
  .bs-replay-sidebar.affix .bs-docs-sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  /* Widen the fixed sidebar again */
  .bs-replay-sidebar.affix-bottom,
  .bs-replay-sidebar.affix {
  }
}

.bs-replaysidebar.affix-top {
    top: 170px;
}
.bs-replaysidebar.affix {
    top: 170px;
}

.replay-container div div div h4 {
    margin-top: 50px;
}

.replay-rating {
    min-height: 64px;
    height: 64px;
    max-height: 64px;
    font-size: 200%;
    font-weight: bold;
    padding: 12px 2px 2px 2px;
    text-align: center
}

span.platoon24 {
    background: transparent url(#{$image_base}/misc/platoon24.png) no-repeat scroll center center;
    height: 24px;
    width: 32px;
    display: inline-block;
    font-size: 9px;
    font-weight: bold;
    color: #fff;
    padding-top: 4px;
    padding-left: 14px;
}

div.well.light {
    background-color: #f5f5f5;
    border: #e3e3e3 1px solid;
    color: #000;
}

div.gat {
    width: 768px;
    height: 90px;
    position: relative;
    left: 50%;
    margin-left: -384px;
}
