<div class="row" style="margin: 40px 0px 10px 0px">
    <div class="col-md-6 col-lg-6">
        <a style="display: inline; text-decoration: underline; padding: 0px" href="/doc/about.html">[% h.loc('footer.about') %]</a> | <a style="display: inline; text-decoration: underline; padding: 0px" href="/doc/credits.html">[% h.loc('footer.credits') %]</a> | <a href="http://www.patreon.com/scrambled" style="display: inline; text-decoration: underline; padding: 0px">[% h.loc('footer.donate') %]</a>
        <div>
            t: <span id="timing_elapsed">[% IF timing_elapsed.defined %][% h.sprintf('%.4f', timing_elapsed)  %][% ELSE %]-[% END %]</span> [% IF timing_query.defined %]q: <span id="timing_query">[% h.sprintf('%.4f', timing_query) %]</span>[% END %]
        </div>
    </div>
    <div class="col-md-6 col-lg-6" style="text-align: right">
        <div>
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a>
            <div style="margin: 0px 0px 0px 86px; font-size: 90%"><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">wotreplays.org</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://www.wotreplays.org/" property="cc:attributionName" rel="cc:attributionURL">Scrambled</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License</a>.</div>
        </div>
    </div>
</div>
