<div class="clearfix" style="text-align: center; margin: 40px 0px 10px 0px">&copy; 2012-2014 Scrambled |  <a style="display: inline; text-decoration: underline; padding: 0px" href="/doc/about.html">[% h.loc('footer.about') %]</a> | <a style="display: inline; text-decoration: underline; padding: 0px" href="/doc/credits.html">[% h.loc('footer.credits') %]</a> | <a href="http://www.patreon.com/scrambled" style="display: inline; text-decoration: underline; padding: 0px">[% h.loc('footer.donate') %]</a> | t: <span id="timing_elapsed">[% IF timing_elapsed.defined %][% h.sprintf('%.4f', timing_elapsed)  %][% ELSE %]-[% END %]</span> [% IF timing_query.defined %]q: <span id="timing_query">[% h.sprintf('%.4f', timing_query) %]</span>[% END %]</div>
