var [% varname %] = new MapGrid({
    container: '[% container %]',
    ident    : '[% ident %]',
    map      : { 
        width       : 768,
        height      : 768,
        bounds      : [% h.as_json(h.map_boundingbox_by_ident(ident)) %],
        positions   : [% IF without_position.defined %]{}[% ELSE %][% h.as_json(h.map_positions_by_ident(ident, gamemode)) %][% END %],
    }
});
