[% WRAPPER wrapper.html.tt %]
    <div class="page-header">
        <h2>[% h.loc(page.title, h.make_args(page.title_args)) %]</h2>
    </div>
    [% INCLUDE vehicle/list.html.tt %]
    <script type="text/javascript">
        $(document).ready(function() {
            $('img.tooltip').tooltip({ track: true });
        });
    </script>
[% END %]
