*.swp
*.orig
log/*.log
replays/*
*.*~
tmp/*
*.wotreplay
*.pid
_Inline/*
data/*
*.ttc
wr.conf
wr.development.conf
wrapi.conf
bin/*.txt
wrapi.development.conf
*.pyc
lib/WR/Parser/Private/*
lang/site/*
public/scss/.sass-cache/*
public/lang/*.js
*.priv.*
public/vehicles/*
public/icon/awards/*
run/*.pid
wr-*.conf
