<div class="chatMessage">
    [% n  = message.source %]
    [% p  = req_replay.vehicles_hash_name.$n %]
    [% pv = p.vehicleType.full %]
    <!-- 
        n: [% n %]
        pv: [% pv %]
    -->
    <span class="chatSource [% message.sourcetype %]">[% message.source |html %][% IF p.clanAbbrev %][[% p.clanAbbrev |html %]][% END %] ([% wr.vehicle_name_short(pv) || wr.vehicle_name(pv) |html %]): </span>
    <span class="chatText [% message.target %]">[% message.body |html %]</span>
</div>
