[% IF h.current_user.settings.display.ratings == 'wn8' %]
    [% INCLUDE replay/panel/rating/wn8.html.tt %]
[% ELSIF h.current_user.settings.display.ratings == 'none' %]
    [% INCLUDE replay/panel/rating/none.html.tt %]
[% ELSE %]
    [% INCLUDE replay/panel/rating/simplified.html.tt %]
[% END %]
