            [% pname = replay.player.name %]
            [% p = replay.vehicles_hash.$pname %]
            [% IF p.team == 2 %]
                Defenders win
            [% ELSE %]
                Attackers win
            [% END %]
