[% INCLUDE replay/panel_list.html.tt %]
<script type="text/javascript">
    $(document).ready(function() {
        $('h3.frontlistheader').html('Newest 15 out of [% replay_count %] Replays ([% archived_count %] Archived)');
    });
</script>
