<!DOCTYPE html>
<html>
    <head>
        <title>[% IF page.title.defined %][% h.loc(page.title, h.make_args(page.title_args)) %] - [% END %]Admin - World of Tanks Replays</title>
        <link rel="shortcut icon" href="[% config.urls.static %]/img/favicon.ico"/>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/> 
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet"/>
        <link href="//netdna.bootstrapcdn.com/bootswatch/3.1.0/cyborg/bootstrap.min.css" rel="stylesheet"/>
        <link href="[% config.urls.static %]/css/wtr.css" rel="stylesheet"/>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-growl/1.0.0/jquery.bootstrap-growl.min.js"></script>

        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js"></script>

        <script type="text/javascript" src="//cdn.sockjs.org/sockjs-0.3.min.js"></script>

        <script type="text/javascript" src="[% config.urls.static %]/js/statterpush.js"></script>
        <script type="text/javascript" src="[% config.urls.static %]/js/jquery.form.js"></script>
        <script type="text/javascript" src="[% config.urls.static %]/js/jquery.timers.js"></script>
        <script type="text/javascript" src="[% config.urls.static %]/js/bootstrap-slider.js"></script>

        <script type="text/javascript" src="/xhr/po/[% user_lang %].js?_[% h.nonce %]"></script>

        <script type="text/javascript" src="[% config.urls.static %]/js/wtr.models.js?_[% h.nonce %]"></script>
        <script type="text/javascript" src="[% config.urls.static %]/js/wtr.views.js?_[% h.nonce %]"></script>
        <script type="text/javascript" src="[% config.urls.static %]/js/wtr.js?_[% h.nonce %]"></script>

        <script type="text/javascript" src="[% config.urls.static %]/js/mapgrid.js"></script>
        <script type="text/javascript" src="[% config.urls.static %]/js/heatmap.js"></script>
        <script type="text/javascript" src="[% config.urls.static %]/js/heatmapviewer.js"></script>
        <script type="text/javascript" src="[% config.urls.static %]/js/battleviewer.js"></script>
        [% TRY %]
            [% INCLUDE head_javascript %]
        [% CATCH %]
        [% END %]

	    <script type="text/javascript">
            var WR = new Wotreplays({
                pageid: '[% pageid.replace('/\//', '_') |js %]',
                apikey: '[% config.statterbox.web %]',
                user: '[% IF h.is_user_authenticated %][% h.current_user.player_name |js %].[% h.current_user.player_server |js %][% ELSE %]anon-[% h.get_oid() %][% END %]',
                channels: [ 'admin' ],
                indev: [% IF config.mode.defined && config.mode == 'dev' %]true[% ELSE %]false[% END %],
            });
            WR.on('i18ndone', function() {
                console.log('i18n ready');
                $('.bs-tooltip').tooltip();
                $('.bs-popover').popover();
            });
        </script>
    </head>
    <body>
        <div class="navbar navbar-default navbar-shadow">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li class="[% IF pageid == 'admin/home' %]active[% END %]"><a  href="/admin/">Dashboard</a></li>
                    [% IF h.has_admin_role('site') %]
                        <li class="dropdown [% IF pageid == 'admin/site' %]active[% END %]"><a href="/admin/site" class="dropdown-toggle" data-toggle="dropdown">Site Tools<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/admin/site/replays/page/1">Replays</a></li>
                            <li><a href="/admin/site/uploads/page/1">Uploads</a></li>
                        </ul>
                    [% END %]
                    [% IF h.has_admin_role('events') %]
                        <li class="[% IF pageid == 'admin/events' %]active[% END %]"><a href="/admin/events">Event Manager</a></li>
                    [% END %]
                    [% IF h.has_admin_role('language') %]
                        <li class="[% IF pageid == 'admin/language' %]active[% END %]"><a href="/admin/language">Language Manager</a></li>
                    [% END %]
                    [% IF h.has_admin_role('moderator') %]
                        <li class="dropdown [% IF pageid == 'admin/moderator' %]active[% END %]"><a href="/admin/moderator" class="dropdown-toggle" data-toggle="dropdown">Moderator Tools<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/admin/moderator/chatreader">Chat Reader</a></li>
                            <li><a href="/admin/moderator/bothunter">Bot Hunter</a></li>
                        </ul>
                    [% END %]
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Back to Site</a></li>
                    <li class="dropdown [% IF pageid == 'profile' %]active[% END %]"><a href="/profile" class="dropdown-toggle" data-toggle="dropdown">[% h.current_user.player_name |html %] <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/logout">[% h.loc('nav.profile.signout') %]</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container rounded shadow clearfix">
            <div id="contentMain">[% content %]</div>
            <div class="clearfix" style="text-align: center; margin: 40px 0px 10px 0px">&copy; 2012-2014 Scrambled | t: <span id="timing_elapsed">[% IF timing_elapsed.defined %][% h.sprintf('%.4f', timing_elapsed)  %][% ELSE %]-[% END %]</span> [% IF timing_query.defined %]q: <span id="timing_query">[% h.sprintf('%.4f', timing_query) %]</span>[% END %]</div>
        </div>
    </body>
</html>
