<!DOCTYPE html>
<html>
    <head>
        <title>[% IF page.title.defined %][% h.loc(page.title, h.make_args(page.title_args)) %] - [% END %]Admin - World of Tanks Replays</title>
        <link rel="shortcut icon" href="[% config.urls.static %]/img/favicon.ico"/>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

        [% INCLUDE bricks/head.html.tt %]

        <script type="text/javascript">
            var WR = new Wotreplays({
                pageid: '[% pageid |js %]',
                apikey: '[% config.statterbox.web %]',
                thunderkey: '[% config.thunderpush.key %]',
                user: '[% IF h.is_user_authenticated %][% h.current_user.player_name |js %].[% h.current_user.player_server |js %][% ELSE %]anon-[% h.get_oid() %][% END %]',
                channels: [ 'admin' ],
                indev: [% IF config.mode.defined && config.mode == 'dev' %]true[% ELSE %]false[% END %],
            });
            WR.on('i18ndone', function() {
                console.log('i18n ready');
                $('.bs-tooltip').tooltip();
                $('.bs-popover').popover();
            });
        </script>

    </head>
    <body>
        <div class="navbar navbar-default navbar-shadow">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li class="[% IF pageid == 'admin/home' %]active[% END %]"><a  href="/admin/">Dashboard</a></li>
                    [% IF h.has_admin_role('site') %]
                        <li class="dropdown [% IF pageid == 'admin/site' %]active[% END %]"><a href="/admin/site" class="dropdown-toggle" data-toggle="dropdown">Site Tools<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/admin/site/replays/page/1">Replays</a></li>
                            <li><a href="/admin/site/uploads/page/1">Uploads</a></li>
                            <li><a href="/admin/site/notifications">Notifications</a></li>
                        </ul>
                    [% END %]
                    [% IF h.has_admin_role('events') %]
                        <li class="[% IF pageid == 'admin/events' %]active[% END %]"><a href="/admin/events">Event Manager</a></li>
                    [% END %]
                    [% IF h.has_admin_role('language') %]
                        <li class="[% IF pageid == 'admin/language' %]active[% END %]"><a href="/admin/language">Language Manager</a></li>
                    [% END %]
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Back to Site</a></li>
                    <li class="dropdown [% IF pageid == 'profile' %]active[% END %]"><a href="/profile" class="dropdown-toggle" data-toggle="dropdown">[% h.current_user.player_name |html %] <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/logout">[% h.loc('nav.profile.signout') %]</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container rounded shadow clearfix content-main">
            <div id="contentMain">[% content %]</div>
            <div class="clearfix" style="text-align: center; margin: 40px 0px 10px 0px">&copy; 2012-2014 Scrambled | t: <span id="timing_elapsed">[% IF timing_elapsed.defined %][% h.sprintf('%.4f', timing_elapsed)  %][% ELSE %]-[% END %]</span> [% IF timing_query.defined %]q: <span id="timing_query">[% h.sprintf('%.4f', timing_query) %]</span>[% END %]</div>
        </div>
    </body>
</html>
