[% IF replays.size == 0 %]
    <p class="lead">[% h.loc('browse.error.noreplays') %]</p>
[% ELSE %]
    [% FOREACH replay IN replays %]
        [% INCLUDE replay/panel.html.tt %]
    [% END %]
[% END %]
