[% FOREACH replay IN replays %]
    [% INCLUDE replay/panel.html.tt %]
[% END %]
[% IF replays.size == 0 %]
    <strong>Oops, seems there are no replays that match that filter...</strong>
[% ELSE %]
    <script type="text/javascript">
        $('div.vehicleMap.tooltip').tooltip({ track: true });
        $('div.vehicleMap.tooltip span.replayviewcount').tooltip({ track: true });
        $('div.replayPanel').tooltip({ track: true });
    </script>
[% END %]
