[% WRAPPER wrapper.html.tt %]    
    <div class="content nosidebar aboutText">
        <h3>Upload Disabled</h3>
        <div>
            Uploads disabled pending a change to the replay parser and having to re-parse existing replays due to changes to 0.8.3 format.
        </div>
    </div>
[% END %]
