<div style="width: 250px; margin: 10px auto">
<script type="text/javascript"><!--
google_ad_client = "ca-pub-9052829003963020";
/* wot-replays.org main sidebar */
google_ad_slot = "2132621338";
google_ad_width = 250;
google_ad_height = 250;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</script>
</div>

