<div class="row">    
	<div class="col-lg-12 col-md-12">
        <div class="alert well-sm alert-success">
            <p>The 0.8.10 update has been processed, and you can now upload your 0.8.10 replays. Be aware that there may be a few oddities here and there...</p>
        </div>
    </div>
</div>
