    <h3>Contact Me</h3>
    <div>
        To contact me, use one of the following:
        <ul>
            <li> <a href="mailto:scrambled(awyissmothafrakkingatsign)wt-replays.org">email</a> </li>
        </ul>
    </div>
