    <h3>Contact Me</h3>
    <div>
        To contact me, use one of the following:
        <ul>
            <li> PM on the <a href="http://worldoftanks.eu/community/accounts/500120062-Scrambled/">EU forum</a> </li>
            <li> PM on the <a href="http://worldoftanks-sea.com/community/accounts/2000036302-Scrambled/">SEA forum</a> </li>
            <li> <a href="http://forum.worldoftanks.eu/index.php?/topic/193928-the-new-wot-replaysorg-update-and-everything-else-thread/">EU forum thread</a></li>
            <li> <a href="http://forum.worldoftanks-sea.com/index.php?/topic/11179-reintroducing-wot-replaysorg/">SEA forum thread</a></li>
            <li> <a href="mailto:scrambled(awyissmothafrakkingatsign)xirinet.com">email</a> </li>
        </ul>
    </div>
