    <h3>Contact Me</h3>
    <div>
        To contact me, either hit the thread above, send me a PM on the European forums, find me in-game on the European server, or send me an email at scrambled(the at sign goes here)xirinet.com
    </div>
