    <h3>Donate</h3>
    <div>
        Running a site like this doesn't come cheap, so please donate if you think it's worth it.
        <br/><br/>
        [% INCLUDE donatebutton.html.tt %]
    </div>
