    <h3>Updates/Info</h3>
    <div>
        <a href="http://blog.wot-replays.org/search/label/updates">blog</a><br/>
        <a href="http://forum.worldoftanks.eu/index.php?/topic/107721-the-wot-replaysorg-support-feedback-and-everything-else-thread/">forum thread</a><br/>
    </div>
