[% WRAPPER wrapper.html.tt %]
    <div class="page-header">
        <h1>Vehicles</h1>
    </div>
    [% INCLUDE vehicle/list.html.tt %]
    <script type="text/javascript">
        $(document).ready(function() {
            $('img.tooltip').tooltip({ track: true });
        });
    </script>
[% END %]
