[% INCLUDE browse/pager.html.tt %]
[% INCLUDE replay/panel_list.html.tt %]
[% INCLUDE browse/pager.html.tt %]
[% INCLUDE bricks/timing.js.tt %]
<script type="text/javascript">
    console.log('query: [% h.dumper(query.query) |js%]');
    console.log('explain: [% h.dumper(query.explain) |js%]');
</script>
