[% WRAPPER wrapper.html.tt %]
<div class="row">
    <div id="mainNewReplays" class="content col-lg-10">
        <h3>[% page.title %]</h3>
        <div id="browseContent">
            [% INCLUDE browse/pager.html.tt skipjs=1 %]
            [% INCLUDE replay/panel_list.html.tt %]
            [% INCLUDE browse/pager.html.tt %]
        </div>
    </div>
    <div id="mainSidebar" class="sidebar col-lg-2">
        [% INCLUDE sidebar/browse.html.tt %]
    </div>
</div>
[% END %]
