[% WRAPPER wrapper.html.tt %]
    <div class="page-header">
        <h2>Browse Replays</h2>
    </div>
    <div class="row">
        <div class="col-lg-9 col-md-9" id="browseContent">
            [% INCLUDE replay/list.html.tt %]
            [% INCLUDE query_debug.html.tt %]
            [% INCLUDE browse/pager.html.tt %]
        </div>
        <div class="col-lg-3 col-md-3">
            [% INCLUDE sidebar/browse.html.tt %]
        </div>
    </div>
[% END %]
