<a class="bs-tooltip btn btn-default btn-like-replay" href="[% h.get_id(replay) %]" data-toggle="tooltip" data-container="body" data-placement="bottom" title="[% h.loc('button.like.title') %]"><span class="badge">[% replay.site.like || '0' %]</span> [% h.loc('button.like.text') %]</a>
<a class="bs-tooltip btn btn-default btn-save-replay" data-placement="bottom" data-toggle="tooltip" data-container="body" title="[% h.loc('button.save.title') %]" href="[% config.urls.replays %]/[% replay.file %]"><span class="badge">[% replay.site.downloads || '0' %]</span> [% h.loc('button.save.text') %]</a>
<a class="bs-tooltip btn btn-default btn-replay-page" data-placement="bottom" data-toggle="tooltip" data-container="body" title="[% h.loc('button.replay.title') %]" href="/replay/[% h.get_id(replay) %].html">[% h.loc('button.replay.text') %]</a>
