[% FOREACH message IN messages %]
    [% INCLUDE replay/view/chat/row.html.tt %]
[% END %]
[% IF messages.size == 0 %]
    <div style="padding: 4px">
        <b>This match had some really damn quiet people in it, seems nobody said a damn thing...</b>
    </div>
[% END %]
