    <tr>
        <td class="comment-author">
            <span class="author">[% comment.author |html %]</span>
            <span class="date">[% comment.date.strftime('%d/%m/%Y') %]</span>
        </td>
        <td class="comment-body">
            <div class="body-content">
            [% comment.body |html|html_line_break %]
            </div>
        </td>
    </tr>
