[% IF replay.game.recorder.team == replay.game.winner %]
    <span class="green">
        [% mr_inc = 'replay/view/matchresult/' _ replay.game.type _ '/victory.html.tt' %]
        [% INCLUDE $mr_inc %]
    </span>
[% ELSIF replay.game.winner == 0 %]
    <span>Draw</span>
[% ELSE %]
    <span class="red">
        [% mr_inc = 'replay/view/matchresult/' _ replay.game.type _ '/defeat.html.tt' %]
        [% INCLUDE $mr_inc %]
    </span>
[% END %]
