                                [% FOREACH rel IN related %]
                                    <a href="/replay/[% rel.id %]">[% rel.player.name |html%] - [% wr.vehicle_name(rel.player.vehicle.full) %]</a><br/>
                                [% END %]
                                [% IF related.size == 0 %]No related replays[% END %]
