<a name="rpl-teams"></a>
<h3 style="margin: 25px 0px 10px 0px">Teams</h3>
<div class="box" style="padding: 5px; background: #444 none repeat scroll 0 0">
    <div class="replayTeamList" id="replayTeamOne">[% INCLUDE replay/view/team/list.html.tt players=replay.teams.0 %]</div>
    <div class="replayTeamList" id="replayTeamTwo">[% INCLUDE replay/view/team/list.html.tt players=replay.teams.1 %]</div>
    <div class="clear"></div>
</div>
