[% version_n = replay.game.version_numeric %]
[% incpath   = 'version/' _ version_n _ '/' %]
[% incfile   = incpath _ file %]
[% defpath   = 'version/default/' %]
[% deffile   = defpath _ file %]
[% incfile %]
[% deffile %]
