[% version_n = replay.game.version_numeric %]
[% incpath   = 'replay/view/version/' _ version_n _ '/' %]
[% incfile   = incpath _ file %]
[% defpath   = 'replay/view/version/default/' %]
[% deffile   = defpath _ file %]
[% TRY %]
    [% INCLUDE $incfile %]
[% CATCH %]
    [% TRY %]
        [% INCLUDE $deffile %]
    [% CATCH %]
        <em>Error including: [% file %]</em>
    [% END %]
[% END %]
