<!DOCTYPE html>
<html>
    <head><title>Chat Viewer</title></head>
    <body>
        [% first = 1 %]
        [% orid = ''%]
        [% FOREACH message IN messages %]
            [% IF message.replay_id != orid %]
                [% IF first == 1 %]
                    [% first == 0 %]
                [% ELSE %]
                    </div>
                [% END %]
                <strong><a href="/replay/[% message.replay_id %]">[% message.replay_id %]</a></strong>
                [% orid = message.replay_id %]
                <div style="padding-left: 40px; margin-bottom: 30px">
            [% END %]
            <span style="display: inline-block; width: 250px; border-right: #666 1px solid">[% message.source |html%]</span>
            <span>[% message.body |html %]</span>
        [% END %]
        </div>
    </body>
</html>
