[% WRAPPER wrapper.html.tt %]
<div>
    <div class="content">
        [% INCLUDE index/frontlist.html.tt %]
    </div>
    <div class="sidebar">
        [% INCLUDE sidebar/home.html.tt %]
    </div>
    <div class="clear"></div>
</div>
<!--
[% h.dumper(explain) %]
-->
[% END %]
