[% WRAPPER wrapper.html.tt %]
<div>
    <div class="content">
        <h3>15 Latest Replays</h3>
        [% INCLUDE replay/panel_list.html.tt %]
        <div style="text-align: right"">
            <a href="/browse/">see all &raquo;</a>
        </div>
    </div>
    <div class="sidebar">
        [% INCLUDE sidebar/home.html.tt %]
    </div>
    <div class="clear"></div>
</div>
[% END %]
