[% WRAPPER wrapper.html.tt %]
    <script src="/js/mapgrid.js" type="text/javascript"></script>
    <script src="/js/heatmap.js" type="text/javascript"></script>
    <div class="page-header">
        <h2>Test Page</h2>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div id="test-container"></div>
            <div id="buttons" style="text-align: center">
            </div>
        </div>
    </div>
    <script type="text/javascript">
        [% INCLUDE bricks/mapgrid.js.tt varname = 'testmap', ident = '06_ensk', container = '#test-container' %]
        $(document).ready(function() {
            var overlay = testmap.getOverlay('viewer');
            testmap.render();

            for(i = 32; i < 256; i+=8) {
                $('#buttons').append($('<a>').css({ 'padding': '5px' }).attr('href', '#').attr('radius', i).addClass('radius').text(i));
            }

            var cfg = {
                "radius"    : 128,
                "element"   : document.getElementById('overlay-viewer'),
                "visible"   : true,
                "opacity"   : 40,
                "gradient"  : { 0.1: "rgb(0,0,128)", 0.2: "rgb(0,0,255)", 0.3: "rgb(0,128,128)", 0.4: "rgb(0,255,255)", 0.5: "rgb(0,128,0)", 0.6: "rgb(0,255,0)", 0.7: "rgb(128,128,0)", 0.8: "rgb(255,255,0)", 0.9: "rgb(128,0,0)", 1.0: "rgb(255,0,0)" }
            };

            var heatmap = heatmapFactory.create(cfg);
            var dataset = null;

            $.getJSON('http://packets.wotreplays.org/heatmap/6_0.json', {}, function(d) {
                var max = 0;
                d.forEach(function(data) {
                    if(data.count > max) max = data.count;
                    var gc = testmap.game_to_map_coord([ data.x, 0, data.y ]);
                    data.x = gc.x;
                    data.y = gc.y
                });
                dataset = { max: max, data: d };
                heatmap.store.setDataSet(dataset);
                $('a.radius').on('click', function() {
                    $('a.radius').addClass('disabled');
                    var rad = parseInt($(this).attr('radius'));
                    heatmap.set('radius', rad);
                    heatmap.store.setDataSet(dataset);
                    $('a.radius').removeClass('disabled');
                    return false;
                });
            });
        });
    </script>
[% END %]
