<!DOCTYPE html>
<html>
    <head>
        <title>[% IF page.title.defined %][% h.loc(page.title, h.make_args(page.title_args)) %] - [% END %]World of Tanks Replays</title>
        <link rel="shortcut icon" href="[% config.urls.static %]/img/favicon.ico"/>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <meta name="keywords" content="[% IF page.keywords %][% page.keywords %], [% END %]world of tanks replays, wot replays, replays"/>
        [% IF page.description %]
            <meta name="description" content="[% page.description |html %]"/>
        [% END %]

        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet"/> 
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet"/>
        <link href="//netdna.bootstrapcdn.com/bootswatch/3.0.1/cyborg/bootstrap.min.css" rel="stylesheet"/>
        <link href="[% config.urls.static %]/css/[% IF config.mode.defined && config.mode == 'dev' %]wtr[% ELSE %]wtr.min[% END %].css" rel="stylesheet"/>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-growl/1.0.0/jquery.bootstrap-growl.min.js"></script>

        <script type="text/javascript" src="http://cdn.sockjs.org/sockjs-0.3.min.js"></script>
        <script type="text/javascript" src="http://api.statterbox.com/statterpush.js"></script>

        <script type="text/javascript" src="[% config.urls.static %]/js/jquery.form.js"></script>
        <script type="text/javascript" src="[% config.urls.static %]/js/jquery.timers.js"></script>
        <script type="text/javascript" src="[% config.urls.static %]/js/bootstrap-slider.js"></script>

        <script type="text/javascript" src="[% config.urls.static %]/js/wtr.js"></script>
        <script type="text/javascript" src="[% config.urls.static %]/js/mapgrid.js"></script>
        <script type="text/javascript" src="[% config.urls.static %]/js/heatmap.js"></script>
        <script type="text/javascript" src="[% config.urls.static %]/js/heatmapviewer.js"></script>
        <script type="text/javascript" src="[% config.urls.static %]/js/battleviewer.js"></script>

	    <script type="text/javascript">
            var thunderChannels = [ 'site', 'page.[% pageid %]' ];
            var thunderOpts = { 
                log: true,
                user: '[% IF h.is_user_authenticated %][% h.current_user.player_name |js %].[% h.current_user.player_server |js %][% ELSE %]anon-[% h.get_oid() %][% END %]'
            };
            Statterpush.connect('[% config.statterbox.web %]', 'wotreplays', thunderChannels, thunderOpts);
            Statterpush.listen(function(message) {
                WR.dispatchMessage(message);
            });
            WR.pageid = '[% pageid |js %]';
            $(document).ready(function() {
	            [% IF notify.defined %]
                    var notifyOpts = { 
                        type: '[% IF notify.type == 'error' %]danger[% ELSE %]info[% END %]',
                        allow_dismiss: [% IF notify.close %]true[% ELSE %]false[% END %],
                        offset: { from: 'top', amount: 40 },
                        delay: [% IF notify.sticky %]200000[% ELSE %]20000[% END %]
                    };
                    $.bootstrapGrowl('[% notify.text |js %]', notifyOpts);
	            [% END %]
                $('.bs-tooltip').tooltip();
                $('.bs-popover').popover();
            });
        </script>
    </head>
    <body>
        <div class="navbar navbar-default navbar-shadow">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li class="[% IF pageid == 'home' %]active[% END %]"><a  href="/">[% h.loc('nav.home') %]</a></li>
                    <li class="[% IF pageid == 'browse' %]active[% END %]"><a href="/browse">[% h.loc('nav.browse') %]</a></li>
                    <li class="[% IF pageid == 'player' %]active[% END %]"><a href="/players/">[% h.loc('nav.players') %]</a></li>
                    <li class="[% IF pageid == 'clan' %]active[% END %]"><a href="/clans/">[% h.loc('nav.clans') %]</a></li>
                    <li class="[% IF pageid == 'map' %]active[% END %]"><a href="/maps/">[% h.loc('nav.maps') %]</a></li>
                    <li class="dropdown [% IF pageid == 'vehicle' %]active[% END %]"><a class="dropdown-toggle" data-toggle="dropdown" href="/vehicles/">[% h.loc('nav.vehicles') %] <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/vehicles/china">[% h.loc('#nations:china') %]</a></li>
                            <li><a href="/vehicles/france">[% h.loc('#nations:france') %]</a></li>
                            <li><a href="/vehicles/germany">[% h.loc('#nations:germany') %]</a></li>
                            <li><a href="/vehicles/japan">[% h.loc('#nations:japan') %]</a></li>
                            <li><a href="/vehicles/uk">[% h.loc('#nations:uk') %]</a></li>
                            <li><a href="/vehicles/usa">[% h.loc('#nations:usa') %]</a></li>
                            <li><a href="/vehicles/ussr">[% h.loc('#nations:ussr') %]</a></li>
                        </ul>
                    </li>
                    <li class="dropdown [% IF pageid == 'heatmap' %]active[% END %]"><a class="dropdown-toggle" data-toggle="dropdown" href="/heatmaps/">[% h.loc('nav.heatmaps') %] <b class="caret"></b></a>
                        <ul class="dropdown-menu" style="column-count: 3; -moz-column-count: 3; -webkit-column-count: 3; width: 500px">
                            [% INCLUDE generated/heatmap_list.html.tt %]
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="[% IF pageid == 'blog' %]active[% END %]"><a href="http://blog.wotreplays.org/">[% h.loc('nav.blog') %]</a></li>
                    <li class="[% IF pageid == 'upload' %]active[% END %]"><a href="[% IF h.is_user_authenticated %]/upload/[% ELSE %]/login/[% END %]">[% h.loc('nav.upload') %]</a></li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">[% h.loc('nav.tools') %] <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class=" issues [% IF pageid == 'issues' %]active[% END %]"><a class="js-hover" href="https://bitbucket.org/wotreplays/wot-replays/issues">[% h.loc('nav.tools.issuetracker') %]</a></li> 
                            <li class=" wiki [% IF pageid == 'wiki' %]active[% END %]"><a class="js-hover" href="http://wiki.vbaddict.net/pages/WoT_Developer_Wiki">[% h.loc('nav.tools.wiki') %]</a></li>
                        </ul>
                    </li>
                    [% IF h.is_user_authenticated %]
                        [% IF h.has_admin_access %]
                            <li><a href="/admin/">[% h.loc('nav.admin') %]</a></li>
                        [% END %]
                        <li class="dropdown [% IF pageid == 'profile' %]active[% END %]"><a href="/profile" class="dropdown-toggle" data-toggle="dropdown">[% h.current_user.player_name |html %] <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-header">[% h.loc('nav.profile.header') %]</li>
                                <li><a href="/profile/replays/type/p/page/1">[% h.loc('nav.profile.replays') %]</a></li>
                                <li><a href="/profile/uploads/page/1">[% h.loc('nav.profile.uploads') %]</a></li>
                                <li><a href="/profile/settings">[% h.loc('nav.profile.settings') %]</a></li>
                                <li class="divider"></li>
                                <li><a href="/logout">[% h.loc('nav.profile.signout') %]</a></li>
                            </ul>
                        </li>
                    [% ELSE %]
                        <li [% IF pageid == 'login' %]class="active"[% END %]>
                            <a href="/login">[% h.loc('nav.signin') %]</a>
                        </li>
                    [% END %]
                </ul>
            </div>
        </div>
        <div class="container rounded shadow clearfix">
            <div id="contentMain">[% content %]</div>
            <div class="clearfix" style="text-align: center; margin: 40px 0px 10px 0px">&copy; 2012-2014 Scrambled |  <a style="display: inline; text-decoration: underline; padding: 0px" href="/doc/about.html">[% h.loc('page.footer.about') %]</a> | <a style="display: inline; text-decoration: underline; padding: 0px" href="/doc/credits.html">[% h.loc('page.footer.credits') %]</a> | t: <span id="timing_elapsed">[% IF timing_elapsed.defined %][% h.sprintf('%.4f', timing_elapsed)  %][% ELSE %]-[% END %]</span> [% IF timing_query.defined %]q: <span id="timing_query">[% h.sprintf('%.4f', timing_query) %]</span>[% END %]</div>
        </div>
        [% IF hint.defined %]
            <div class="modal fade" id="hintModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">[% hint.title %]</h4>
                        </div>
                        <div class="modal-body">
                            [% hint.text %]
                        </div>
                    </div>
                </div>
            </div>
        [% END %]
        <!-- Piwik -->
        <script type="text/javascript"> 
            var _paq = _paq || [];
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u=(("https:" == document.location.protocol) ? "https" : "http") + "://piwik.blockstackers.net//";
                _paq.push(['setTrackerUrl', u+'piwik.php']);
                _paq.push(['setSiteId', 1]);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
                g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
        <noscript><p><img src="http://piwik.blockstackers.net/piwik.php?idsite=1" style="border:0" alt="" /></p></noscript>
        <!-- End Piwik Code -->
    </body>
</html>
