([% IF replay.game.finish_reason == 0 %][% h.loc('replay.game.finishreason.0') %][% ELSIF replay.game.finish_reason == 1 %][% IF replay.game.recorder.team == replay.game.winner %][% h.loc('replay.game.finishreason.1.0') %][% ELSE %][% h.loc('replay.game.finishreason.1.1') %][% END %][% ELSIF replay.game.finish_reason == 2 %][% h.loc('replay.game.finish_reason.2') %][% ELSIF replay.game.finish_reason == 3 %][% h.loc('replay.game.finish_reason.3') %][% ELSIF replay.game.finish_reason == 4 %][% h.loc('replay.game.finish_reason.4') %][% ELSE %][% h.loc('replay.game.finish_reason.5') %][% END %])
