<div>
    <div style="" class="viewcontent" id="fitting">[% INCLUDE replay/view/team/equipment/fitting.html.tt %]</div>
    <div class="viewcontent" id="performance" style="display: none">...</div>
</div>
