<table class="table table-bordered table-striped team-list">
    <thead>
        <th></th>
        <th>Tank</th>
        <th>Player</th>
        <th>Awards</th>
        <th>Dmg</th>
        <th>XP</th>
        <th>Kills</th>
    </thead>
    <tbody>
        [% FOREACH vid IN players %]
            [% player = h.get_roster_by_vid(replay, vid) %]
            [% INCLUDE replay/view/team/row.html.tt %]
        [% END %]
    </tbody>
</table>
