[% WRAPPER wrapper.html.tt %] 
    [% lang_dep_file = 'doc/' _ user_lang _ '/' _ docfile _ '.html.tt' %]
    [% default_file = 'doc/en/' _ docfile _ '.html.tt' %]
    [% TRY %]
        [% INCLUDE $lang_dep_file %]
    [% CATCH %]
        [% INCLUDE $default_file %]
    [% END %]
[% END %]
